@use '../../styles/_vars.scss' as *;
@use '../../styles/_mixins.scss' as *;

.ideas {
  .idea {
    padding: 20px;
    border: 1px solid $black;
    border-radius: 10px;
    & + .idea {
      margin-top: 20px;
    }

    .ideaLink {
      @include link;
    }
  }
}
