@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;

.alert {
  padding: 10px;
  border-radius: $borderRadiusSmall;

  &.red {
    background-color: #ffd1d1;
    color: #631717;
  }

  &.green {
    background-color: #d7ffd7;
    color: #2b6d2b;
  }
}
