@use '../../../styles/vars' as *;
@use '../../../styles/mixins' as *;

.ideas {
  .idea {
    padding: 20px;
    border: 1px solid $black;
    border-radius: 10px;

    & + .idea {
      margin-top: 20px;
    }

    .ideaLink {
      @include link;
    }
  }

  .more {
    margin-top: 15px;
  }
}
