@use '../../styles/vars.scss' as *;
@use '../../styles/mixins.scss' as *;

.createdAt {
  font-size: 12px;
  margin-bottom: 10px;
}

.author {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}

.text {
  font-size: 14px;

  & > *:not(:first-child) {
    margin-top: 10px;
  }
}
